<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Default Suite" parallel="tests">
    <listeners>
<!--        <listener class-name="Utility.TestListeners"></listener>-->
    </listeners>
    <test name="Chrome">
    <parameter name="browser" value="chrome"></parameter>
        <classes>
<!--            <class name="LoginTest"/>-->
<!--            <class name="AddUser"></class>-->
            <class name="AddVacancy"></class>
        </classes>
    </test> <!-- SeleniumFramework -->

<!--    <test name="Firefox">-->
<!--        <parameter name="browser" value="firefox"></parameter>-->
<!--        <classes>-->
<!--            <class name="LoginTest"/>-->
<!--        </classes>-->
<!--    </test> &lt;!&ndash; SeleniumFramework &ndash;&gt;-->
</suite> <!-- Default Suite -->
